.cheap-energy-view {
    padding: 1rem;
}

.chart-container-energy {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.chart-container-energy:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.status-text {
    text-align: center;
    font-size: 1.2rem;
    color: var(--pastel-white-color);
    padding: 4rem 0;
}

.error-text {
    color: var(--pastel-red-color);
    font-weight: bold;
}

.no-data-message {
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid var(--pastel-red-color);
}

.no-data-message h3 {
    color: var(--pastel-red-color);
    font-size: 2rem;
    margin: 0;
}

.no-data-message p {
    color: var(--pastel-white-color);
    font-size: 1.2rem;
}

.energy-bar .recharts-bar-rectangle {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.energy-bar .recharts-bar-rectangle:hover {
    transform: translateY(-3px);
    filter: drop-shadow(2px 6px 8px rgba(0,0,0,0.4)) brightness(1.3);
}